body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

table.new td, table.new tr{
  border:0px #000 solid;
  border-collapse:collapse;
  text-align:left;
  font-size : 100%;
}


/*
 * Create dark grey header with a logo
 */

header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #00FF00;
  float: left;
}

header h1.logo:hover {
  color: #00FF00;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 940px;
  margin: 0 auto;
}

div.jumbo {
  padding: 10px 0 10px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 10px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}


h4 {
text-align: center;
}
/*
 * Display navigation links inline
 */

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #00FF00;
  text-decoration: none;
}


div.wrap {
    -ms-word-break: break-all;
    word-break: break-all;
    width: 100%;

}

.table-break-all
{
    word-break: break-all;
}