{% extends "layout.html" %}
{% block content %}
 <form action="{{ url_for('filter_subset') }}" method=post class=subset>
      <dl>
        <dt>run_id:
        <dd><input type=text size=30 name=run_id>
          <dd><select name="andor" size="1">
            <option>AND</option>
            <option>OR</option>
          </select>
          <dt>orthogroup:
          <dd><input type=text size=30 name=orthogroup>
        <dt><input type=submit value=filter>
      </dl>
    </form>

<h1>Entries:</h1>
<div class="jumbo">
    <table border="0">
        <tr>
            <th>run_id </th>
            <th>orthogroup</th>
            <th>phase</th>
            <th>date</th>
            <th>status</th>

        </tr>

  {% for entry in entries %}
      <tr>
            <td>{{ entry.run_id }}</td>
            <td> {{ entry.orthogroup }}</td>
            <td>{{ entry.phase }}</td>
            <td>{{ entry.timestamp }}</td>
            <td>{{ entry.status }}</td>
       </tr>
  {% endfor %}
        </table>
  </div>
{% endblock %}
<tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>

