{% extends "layout.html" %}
{% block content %}
<h1>Success:</h1>
<div class="jumbo">
    <table border="0">
        <tr>
            <th>run_id </th>
            <th>orthogroup</th>
            <th>phase</th>
            <th>date</th>
            <th>status</th>

        </tr>

  {% for entry in entries %}
      <tr>
            <td>{{ entry.run_id }}</td>
            <td> {{ entry.orthogroup }}</td>
            <td>{{ entry.phase }}</td>
            <td>{{ entry.timestamp }}</td>
            <td>{{ entry.status }}</td>
       </tr>
  {% endfor %}
        </table>
  </div>
{% endblock %}
<tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>